In [112]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import pandas as pd
import time

In [113]:
options = Options()
options.headless = True
options.add_argument('window_size=1920x1080')

In [114]:
web = "https://www.audible.in/search?node=21881927031&sort=popularity-rank&ref_pageloadid=u0VsquFqGJocVubh&ref=a_cat_Liter_c8_showmore&pf_rd_p=be4f74e4-9068-42fd-9319-73eb8b0c879a&pf_rd_r=YPEPTZYGNEY2RY0QBZP4&pageLoadId=KWRgnCKn9id9CUvW&ref_plink=not_applicable&creativeId=fa240ef5-2ebf-4f43-b1b1-11c01bce5b1b"

In [115]:
driver = webdriver.Chrome(r'C:\Users\prana\Downloads\chromedriver-win32\chromedriver-win32\chromedriver.exe',options=options)

In [116]:
driver.get(web)

In [118]:
#Pagination
pagination = driver.find_element_by_xpath('//ul[contains(@class,"pagingElements")]')
pages = pagination.find_elements_by_tag_name('li')
#last_page = int(pages[-2].text)
current_page = 1
book_title = []
book_author = []
book_length = []
for i in pages:
    time.sleep(2)
    container = driver.find_element_by_class_name('adbl-impression-container ')
    products = container.find_elements_by_xpath('.//li[contains(@class, "productListItem")]')

    for product in products:
        book_title.append(product.find_element_by_xpath('.//h3[contains(@class,"bc-heading")]').text)
        book_author.append(product.find_element_by_xpath('.//li[contains(@class,"authorLabel")]').text)
        book_length.append(product.find_element_by_xpath('.//li[contains(@class,"runtimeLabel")]').text)
    
    #current_page = current_page + 1
    try:
        next_page = driver.find_element_by_xpath('//span[contains(@class,"nextButton")]')
        next_page.click()
    except:
        pass
    
driver.quit()

In [119]:
df = pd.DataFrame({'Title':book_title,'Author':book_author,'book_length':book_length})

In [120]:
df.head()

,Title,Author,book_length
0,The Engineer,Written by: Will Wight,Length: 11 hrs and 11 mins
1,Chandrakanta (Hindi Edition),Written by: Devki Nandan Khatri,Length: 12 hrs and 41 mins
2,Dharmayoddha Kalki: Avatar of Vishnu,Written by: Kevin Missal,Length: 12 hrs and 34 mins
3,Retribution,Written by: TurtleMe,Length: 23 hrs and 7 mins
4,Godsfall,Written by: T. B. Mare,Length: 23 hrs and 9 mins

In [121]:
df.shape

(120, 3)

In [122]:
df

,Title,Author,book_length
0,The Engineer,Written by: Will Wight,Length: 11 hrs and 11 mins
1,Chandrakanta (Hindi Edition),Written by: Devki Nandan Khatri,Length: 12 hrs and 41 mins
2,Dharmayoddha Kalki: Avatar of Vishnu,Written by: Kevin Missal,Length: 12 hrs and 34 mins
3,Retribution,Written by: TurtleMe,Length: 23 hrs and 7 mins
4,Godsfall,Written by: T. B. Mare,Length: 23 hrs and 9 mins
...,...,...,...
115,Make Me,Written by: Lee Child,Length: 11 hrs and 42 mins
116,Keepers of the Kalachakra (Hindi Edition),Written by: Ashwin Sanghi,Length: 13 hrs and 11 mins
117,The Sialkot Saga (Hindi Edition),Written by: Ashwin Sanghi,Length: 18 hrs and 3 mins
118,Philosopher's Stone (Hindi Edition),Written by: S. Gurjar,Length: 5 hrs and 54 mins
119,Elantris,Written by: Brandon Sanderson,Length: 28 hrs and 42 mins

In [123]:
df.describe()

               Title                    Author                 book_length
count            120                       120                         120
unique            20                        17                          20
top     The Engineer  Written by: Martha Wells  Length: 11 hrs and 11 mins
freq               6                        18                           6